<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-messages [value]="msgs"></p-messages>
            <h5>All ticket</h5>
            <p-table #dt1  [value]="tickets" dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"  [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="['id','description','status','subject','user.email']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="mb-2">
                            <button pButton label="Clear" class="p-button-outlined mx-2 " icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewUser()"></button>
                        </div>

                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                id
                                <p-columnFilter type="numeric" field="id" display="menu" placeholder="Search by id"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                subject
                                <p-columnFilter type="text" field="subject" display="menu" placeholder="Search by subject"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                description
                                <p-columnFilter type="text" field="description" display="menu" placeholder="Search by description"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                status
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>



                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                user
                                <p-columnFilter type="text" field="emplyedID" display="menu" placeholder="Search by emplyedID"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                action

                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ticket>
                    <tr>
                        <td>
                            {{ticket.id}}
                        </td>
                        <td>
                            {{ticket.subject}}
                        </td>
                        <td>
                            {{ticket.description}}
                        </td>
                        <td>
                            <p-tag (click)="showDialogSatsus(ticket.status,ticket)" [value]="ticket.status" [severity]="getSeverity(ticket.status)" />

                        </td>


                        <td>
                            {{ticket.user.email}}
                        </td>
                        <td>
                            <div class="flex">
                              <!--  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(ticket)" ></button>-->
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTicket(ticket.id)" ></button>
                            </div>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No users found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading users data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
    <p-dialog [(visible)]="userDialogue" [style]="{width: '450px'}" header="Ticker " [modal]="true" class="p-fluid">

        <ng-template pTemplate="content">
            <div class="field">
                <label for="subject">subject</label>
                <input type="text" pInputText id="subject" [(ngModel)]="ticket.subject" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ticket.subject}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !ticket.subject">subject is required.</small>
            </div>
            <div class="field">
                <label for="description">description</label>

                <textarea id="description" [(ngModel)]="ticket.description" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !ticket.description}"  pInputTextarea  id="" cols="30" rows="10"></textarea>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !ticket.description">description is required.</small>
            </div>


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
        </ng-template>
    </p-dialog>
    <p-dialog header="Update Order Status" [modal]="true" [(visible)]="visibleStatus" [style]="{ width: '25rem' ,height:'30em' }" [draggable]="false" [resizable]="false">
        <span class="p-text-secondary block mb-5">Select new status for the order:</span>

        <!-- Dropdown for status selection -->
        <p-dropdown [options]="statuses" [(ngModel)]="statusTicketUpdate" placeholder="Select a status">
            <ng-template let-option pTemplate="item">
                <p-tag  [value]="option.value" [severity]="getSeverity( option.value)" />
            </ng-template>
        </p-dropdown>

        <ng-template pTemplate="footer">
            <div class="flex justify-content-end gap-2 mt-4">
                <p-button label="Cancel" severity="secondary" (onClick)="visibleStatus = false" />
                <p-button label="Save" (onClick)="updateTicketStatus()" />
            </div>
        </ng-template>

    </p-dialog>
</div>
