<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-messages [value]="msgs"></p-messages>
            <h4>Orders</h4>
            <p-table #dt1  [value]="Orders" dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"  [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="['id','name','stock_status','price','date_created','image']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="mb-2">
                            <button pButton label="Clear" class="p-button-outlined mx-2 " icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        </div>

                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                id
                                <p-columnFilter type="numeric" field="id" display="menu" placeholder="Search by id"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                name
                                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                stock status
                                <p-columnFilter type="text" field="stock_status" display="menu" placeholder="Search by stock_status"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                price
                                <p-columnFilter type="numeric" field="price" display="menu" placeholder="search by price"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                order date
                                <p-columnFilter type="date" field="date_created" display="menu" placeholder="Search by date_created"></p-columnFilter>
                            </div>
                        </th>


                        <th style="min-width: 8rem">
                            <div class="flex justify-content-between align-items-center">

products
                            </div>
                        </th>
                        <th *ngIf="this.token.role=='SUPERADMIN'" style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                action

                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>
                            {{order.id}}
                        </td>
                       <td>
                           {{ order.billing.first_name+" "+order.billing.last_name}}
                       </td>
                        <td>
                            <p-tag (click)="showDialogSatsus(order.status,order.id)" [value]="order.status" [severity]="getSeverity(order.status)" />

                        </td>
                        <td>
                            {{order.total}}
                        </td>
                        <td>
                            {{ order.date_created | date: 'M/d/yy'}}
                        </td>
                        <td>
                            <p-button  (onClick)="showDialog(order.line_items)"
                                       label="products"
                                icon="pi pi-box"
                                badge="{{order.line_items.length}}"
                                severity="help"
                                 />

                        </td>
                        <td *ngIf="this.token.role=='SUPERADMIN'">
                            <div class="flex">

                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletOrder(order.id)" ></button>
                            </div>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No orders found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading orders data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>

    <p-dialog
        header="Products"
        [(visible)]="visible"
        [modal]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false">

        <p-carousel
            [value]="productsCoresel"
            [numVisible]="3"
            [numScroll]="3"
            [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 p-3">
                    <div class="mb-3">
                        <div class="relative mx-auto">
                            <img
                                src="{{ product.image.src }}"
                                [alt]="product.name"
                                class="w-full border-round" />

                        </div>
                    </div>
                    <div class="mb-3 font-medium">
                        {{ product.name }}
                    </div>
                    <div class="flex justify-content-between align-items-center">
                        <div class="mt-0 font-semibold text-xl">
                            {{ '$' + product.price }}
                        </div>
                        <div class="mt-0 font-semibold text-xl">
                            <p-button icon="pi pi-search" [rounded]="true" [text]="true" (click)="showMapProduct(product.product_id)" severity="success " />
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>


    </p-dialog>

    <p-dialog header="Update Order Status" [modal]="true" [(visible)]="visibleStatus" [style]="{ width: '25rem' ,height:'30em' }" [draggable]="false" [resizable]="false">
        <span class="p-text-secondary block mb-5">Select new status for the order:</span>

        <!-- Dropdown for status selection -->
        <p-dropdown [options]="statuses" [(ngModel)]="statusOrderUpdate" placeholder="Select a status">
            <!-- Template for displaying the selected item -->


            <!-- Template for displaying each dropdown item -->
            <ng-template let-option pTemplate="item">
                <p-tag  [value]="option.value" [severity]="getSeverity( option.value)" />

            </ng-template>
        </p-dropdown>

<ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2 mt-4">
        <p-button label="Cancel" severity="secondary" (onClick)="visibleStatus = false" />
        <p-button label="Save" (onClick)="updateOrderStatus()" />
    </div>
</ng-template>

    </p-dialog>
    <p-dialog header="Update Order Status" [modal]="true" [(visible)]="visibleMap" [style]="{ width: '25rem' ,height:'20em' }" [draggable]="false" [resizable]="false">
        <p-image
            [src]="environment.backendhost+'/mapsimage/'+  this.slugProd.categories[0].slug+'.png'"
            alt="Image"
            width="100%"

            [preview]="true" />
    </p-dialog>

</div>
